h1,
h2,
h3,
p {
  font-family: "poppins", "sans-serif";
}

h3,
p {
  margin-bottom: 20rem;
}

h3 {
  font-size: 2.5em;
}

#container {
  max-width: 1240px;
  margin: auto;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.contents {
  position: relative;
  display: flex;
  border: 5px solid #212125;
}

.left_content {
  width: 50%;
  padding: 100px;
  background: #212125;
  color: #fff;
}

.sticky_wrap {
  position: sticky;
  display: inline-block;
  left: 100%;
  top: 40%;
}

.right_content {
  position: relative;
  width: 50%;
  margin: 2rem;
}
